<div class="main_box">


  <div id="mymain"><app-mymain></app-mymain></div>

  <div id="myaboutme">
    <app-myaboutme></app-myaboutme>
    <div class="purple_shadow_wrapper">
      <img src="assets/icons/Purple_shadow_L3.png" alt="Shadow Shape" />
    </div>
  </div>

  <div id="myskills" class="myskills_wrapper">
    <img src="assets/icons/Green_shadow_G2.png" alt="Background Shape" class="bg_shape" />
    <app-myskills></app-myskills>
  </div>

  <div id="myportfolio"><app-myportfolio></app-myportfolio></div>

  <div id="mycontact_topic"><app-mycontact></app-mycontact></div>


<div class="scroll-nav">
  <img
    *ngIf="showArrowDown"
    src="assets/icons/arrowdown.png"
    alt="Arrow down"
    class="scroll-button arrow-down"
    (click)="scrollToNextSection()"
  />
  <img
    *ngIf="showArrowUp"
    src="assets/icons/arrowup.png"
    alt="Arrow up"
    class="scroll-button arrow-up"
    (click)="scrollToPreviousSection()"
  />
</div>

</div>
