@use '../../../styles/variables' as v;


.footer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 10px;
  border-top: 4px solid v.$header_hover_text;
  background-color: v.$footer_background;
  color: v.$footer_text;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;


  a {
    color: white;
  }


  .footer_name {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }


  .footer_left,
  .footer_center,
  .footer_right {
    flex: 1;
    display: flex;
    align-items: flex-start;
  }


  .footer_left {
    justify-content: flex-start;
    margin-left: 20px;

  }


  .footer_center {
    justify-content: center;
    text-align: center;
  }


  .footer_right {
    justify-content: flex-end;
    gap: 15px;
    margin-right: 20px;


    img {
      width: 28px;
      height: 28px;
      cursor: pointer;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }


  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
    text-align: center;


    .footer_left {
      padding-left: 50px;
      text-align: start;
    }


    .footer_left,
    .footer_center,
    .footer_right {
      flex: unset;
      justify-content: center;
      margin: 10px 0;
    }


    .footer_center_right {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
}